*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #9AACB8;
  //height: 100vh;
  //overflow: hidden;
  display: grid;
  font-family: 'Libre Baskerville', serif;
  @media (min-width: 768px) {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

ul, li {
  margin: 0;
  padding: 0; }

.main {
  //background-color: #3C455C;
  grid-column: 2/6;
  display: flex;
  justify-content: center;
  .content {
    padding: 0 12rem;
    align-self: center;
    color: white;
  }
}



